

.navbar{
    font-family: $typo;
    font-size: 1.5rem;

    &__title{
    font-family: $typo;
    font-size: 2rem;
}
}

.footer__underlist{
    display: flex;
    justify-content: right;
    margin-right: 5rem;
}

.footer__list{
    list-style: none;
    padding: 1rem;
}







