.contenedor__ubicacion{
    display: grid;
    grid-template-areas: 
                    "img descrip"
                    "img mapa"
                    "img footer";

    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;

}

.contenedor__img{
    grid-area: img;
}

.contenedor__descripcion{
    grid-area: descrip;
}

.contenedor__mapa{
    grid-area: mapa;
}

.contenedor__footer{
    grid-area: footer;
}

.contenedor__descripcion{
    font-family: $typo;
}

.contenedor__mapa{
    display: flex;
    align-content: center;
}